.pipe {
    color: #fff;
    margin: 0 5px;
}

/*
    FOOTER
*/
 footer.footer {
    background: transparent;
    bottom: 0;
    padding: 0 40px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
/*@media (max-width: 460px) {
    footer.footer {
        padding: 0 10px;
    }
}*/
.footer-nav {
    clear: both;
    display: inline-block;
    float: left;
    padding-bottom: 15px;
}
.footer-nav ul {
    margin: 2px 0 0;
    padding: 0;
}
.footer-nav li a {
    margin: 0 10px;
}
.copyright {
    display: inline-block;
    float: right;
    margin: 0;
}
/*
    BACK TO TOP
*/
 .totop {
    border:2px solid #FFF;
    background: rgba(0, 0, 0, 0);
    border-radius: 100%;
    color: #FFF;
    display: inline-block;
    float: right;
    font-size: 25px;
    height: 45px;
    margin: 0 0 10px;
    outline: 0;
    position: static;
    text-align: center;
    width: 45px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.totop:hover {
    background: #25292c;
    border-color: #25292c;
    color: #4cddf3;
    outline: 0;
}