.pipe {
    color: #fff;
    margin: 0 5px;
}

/*
    FOOTER
*/
 footer.footer {
    background: transparent;
    bottom: 0;
    padding: 0 40px 15px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.footer-nav {
    clear: both;
    display: inline-block;
    float: left;
}
.footer-nav ul {
    margin: 2px 0 0;
    padding: 0;
}
.footer-nav li a {
    margin: 0 10px;
}
.copyright {
    display: inline-block;
    float: right;
    margin: 0 10px;
}
/*
    BACK TO TOP
*/
 .totop {
    border:2px solid #FFF;
    background: rgba(0, 0, 0, 0);
    border-radius: 100%;
    color: #FFF;
    display: inline-block;
    float: right;
    font-size: 25px;
    height: 45px;
    margin: 0 10px 10px;
    outline: 0;
    position: static;
    text-align: center;
    width: 45px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.totop:hover {
    background: #25292c;
    border-color: #25292c;
    color: #4cddf3;
    outline: 0;
}
@media (max-width: 768px) {
    footer.footer {
        padding: 0 10px 15px;
    }
}
@media (max-width: 600px) {
    .copyright {
        clear: both;
        float: left;
    }
    .totop {
        margin: 0 10px -40px;
    }
}
@media (max-width: 440px) {
    .footer-nav li.pipe {
        margin: 0 2px;
    }
    .footer-nav li a {
        margin: 0;
    }
    .copyright {
        margin: 0;
    }
    .totop {
        display: block;
        font-size: inherit;
        height: 25px;
        margin: -20px 0 0;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 25px;
    }
}