body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}
h1, h2, h3, h4, .white {
    text-shadow: 1px 0 0 #000 !important;
}
.no-shadow {
    text-shadow: none !important;
}
.generatr-orange {
    color: #fe9e1b !important;
}
.generatr-green {
    color: #14ccb9 !important;
}
.generatr-green-hover {
    color: #00a695 !important;
}
.generatr-bg-orange {
    background-color: #fe9e1b !important;
}
.generatr-bg-green {
    background-color: #14ccb9 !important;
}
.generatr-bg-green-hover {
    background-color: #00a695 !important;
}
.section-title {
    margin-top: 25px;
    text-align: left;
}
.section-title .title {
    font-size: 60px;
    line-height: 80px;
    margin-top: 0;
}
.section-title .subtitle {
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
}
.section-title .title strong {
    font-size: 1.2em;
    font-weight: 900;
}
.section-outter, .section-outter > section, .section-outter > section > div {
    height: 100%;
}
.section-outter p {
    color: #fff;
    font-size: 25px;
    line-height: 31px;
    font-weight: 700;
}
.section-outter dl dt {
    color: #fff;
    font-size: 30px;
}
.section-outter dl dd {
    color: #fe9e1b;
    font-size: 25px;
    font-weight: 700;
}

.pipe {
    color: #fff;
    margin: 0 5px;
}

.header-center {
    width: 80%;
}

.btn-generatr {
    background-color: #14ccb9;
    border: 0 none;
    color: #fff !important;
    font-size: 20px;
    padding: 20px 30px;
}
.btn-generatr2 {
    padding: 20px 50px;
}
.btn-generatr.orange {
    background-color: #fe9e1b;
}
.btn-generatr i {
    margin-left: 10px;
}
.btn-generatr:hover {
    color: #fff !important;
    background-color: #00a695;
} 
.btn-generatr.orange:hover {
    background-color: #A4A8A5;
} 

#about figure {
    margin-top: 5px;
}

#pricing .col-md-4 {
    padding: 0 50px;
}
#pricing #price_slide {
    width: 600px;
    height: 450px;
}
#pricing #price_slide .swiper-slide > div {
    margin: 0 auto;
    width: 80%;
}
.teams .panel-heading {
    background-color: #878C97;
    text-align: center;
}
.teams .panel-heading h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}
.teams .panel-body {
    padding: 0;
}
.teams .panel-body td {
    border: none;
    color: #878C97;
    font-size: 20px;
    padding: 15px;
}
.teams .panel-body td.price {
    border-bottom: 1px solid #ccc;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.teams .panel-body td.desc {
    padding: 15px 30px;
}
.teams .panel-footer {
    background-color: #878C97;
    text-align: center;
}
#form_contact {
    margin-top: 20px;
}
#form_contact .form-control {
    background-color: #ebebeb;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 1.5em;
}
#form_contact .form-control-feedback {
    color: #999;
    font-size: 25px;
    right: 20px;
    margin-top: -13px;
    top: 50%;
}

/*
    NAVBAR
*/
.navbar.navbar-default {
    background-color: transparent;
    box-shadow: none;
    padding: 30px;
}
.navbar-default .navbar-toggle {
    background-color: #616874;
    border-color: #424549;
    margin: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #424549;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar.navbar-default .navbar-brand {
    background-color: transparent;
    font-family: arial;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0;
}
.navbar.navbar-default .navbar-brand:hover {
    background-color: transparent;
}
.navbar.navbar-default .navbar-brand i {
    border: 5px solid #fe9e1b;
    border-radius: 100%;
    color: #fe9e1b;
    display: inline-block;
    font-size: 30px;
    height: 55px;
    line-height: 45px;
    margin-right: 10px;
    outline: 0;
    position: static;
    text-align: center;
    width: 55px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.navbar.navbar-default .navbar-nav>li>a {
    background-color: #14ccb9;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 30px;
}
.navbar.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #00a695;
}
.navbar.navbar-default .navbar-nav>li.active>a {
    color: #fff;
    background-color: #00a695;
}

/*
    FOOTER
*/
 footer.footer {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.footer-nav {
    clear: both;
    display: inline-block;
    float: left;
}
.footer-nav ul {
    margin: 2px 0 0;
    padding: 0;
}
.footer-nav li a {
    margin: 0 10px;
}
.copyright {
    display: inline-block;
    float: right;
    margin: 0 10px;
}

/*
    BACK TO TOP
*/
 .totop {
    border: 2px solid #FFF;
    background: rgba(0, 0, 0, 0);
    border-radius: 100%;
    color: #FFF;
    display: inline-block;
    float: right;
    font-size: 25px;
    height: 45px;
    margin: 0 10px 10px;
    outline: 0;
    position: static;
    text-align: center;
    width: 45px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.totop:hover {
    background: #25292c;
    border-color: #25292c;
    color: #4cddf3;
    outline: 0;
}

@media (max-width: 1366px) {
    .section-outter p, .section-outter dl dd {
        font-size: 20px;
    }
    .section-outter dl dt {
        font-size: 23px;
    }
}
@media (max-width: 1200px) {
    .navbar.navbar-default {
        padding: 20px;
    }
    .navbar.navbar-default .navbar-brand {
        font-size: 35px;
    }
    .navbar.navbar-default .navbar-brand i {
        border: 3px solid #fe9e1b;
        font-size: 23px;
        line-height: 32px;
        margin-right: 5px;
        height: 38px;
        width: 38px;
    }
    .navbar.navbar-default .navbar-nav>li>a {
        font-size: 16px;
        padding: 10px 20px;
    }
    .section-outter p, .section-outter dl dd {
        font-size: 25px;
    }
    .section-outter dl dt {
        font-size: 30px;
    }
}

@media (max-width: 993px) {
    .navbar.navbar-default .navbar-nav>li>a {
        padding: 10px;
    }
    .slides-navigation {
        margin: -23px auto;
    }
    .slides-navigation a {
        height: 45px;
        line-height: 45px;
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .slides-navigation {
        margin: -15px auto;
    }
    .slides-navigation a {
        height: 30px;
        line-height: 30px;
        font-size: 30px;
    }
    .section-fill {
        padding: 0 50px;
    }
    .section-title {
        margin-top: 0;
    }
    .section-title .title {
        font-size: 45px;
        line-height: 60px;
    }
    #pricing #price_slide {
        height: 500px;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .section-outter p, .section-outter dl dd {
        font-size: 20px;
    }
    .section-outter dl dt {
        font-size: 23px;
    }
    footer.footer {
        padding: 15px 10px;
    }
}

@media (max-width: 600px) {
    .navbar.navbar-default .navbar-brand {
        font-size: 28px;
    }
    .navbar.navbar-default .navbar-brand i {
        border: 2px solid #fe9e1b;
        font-size: 19px;
        line-height: 27px;
        height: 30px;
        width: 30px;
    }
    .navbar.navbar-default .navbar-nav>li>a {
        font-size: 14px;
        padding: 5px 15px;
    }
    .section-fill {
        padding: 0 25px;
    }
    footer.footer {
       padding: 5px 10px;
    }
    .copyright {
        clear: both;
        float: left;
    }
    .totop {
        margin: 0 10px -40px;
    }
}

@media (max-width: 480px) {
    .navbar.navbar-default {
        padding: 15px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 3px;
        padding: 6px 8px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        height: 2px;
        width: 17px;
    }
    .navbar-default .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 3px;
    }
    .footer-nav li.pipe {
        margin: 0 2px;
    }
    .footer-nav li a {
        margin: 0;
    }
    .copyright {
        margin: 0;
    }
    .totop {
        display: block;
        font-size: inherit;
        height: 25px;
        margin: -15px 0 0;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 25px;
    }
}